#application
server:
  port: 50800
  tomcat.threads.max: 20

#monitoring
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "health,prometheus,heapdump"

springdoc.swagger-ui.path: /swagger-ui/index.html
springdoc.enable-native-support: "true"

#jaeger / zipkin
spring.application.name: person-service
management.zipkin.tracing.endpoint: "http://localhost:9411/api/v2/spans"
management.tracing.sampling.probability: "1.0"
management.tracing.propagation.type: "B3"
management.tracing.enabled: "true"

#security
security.authentication.enabled: true

spring.security.user.name: "admin"
spring.security.user.password: "admin"

#persistence
spring.datasource.url: jdbc:h2:mem:persondb
#spring.datasource.url: jdbc:postgresql://localhost:5432/postgres
spring.datasource.username: postgres
spring.datasource.password: postgres

spring.datasource.hikari.maximum-pool-size: "10"
spring.datasource.hikari.connection-timeout: "10000"

database.provisioning.goals: -import-demo-data

#adapter
adapter:
  timeout: 10000
  calleeservice:
    url: http://localhost:50900
    user: YWRtaW4=
    password: YWRtaW4=

#resilience4j
resilience4j.circuitbreaker:
  configs:
    default:
      #see for more informations under: https://resilience4j.readme.io/docs/circuitbreaker
      registerHealthIndicator: true
      slowCallDurationThreshold: ${adapter.timeout} #Effectively the timeout
      slowCallRateThreshold: 100 #Percentage of calls that that need be registered a slow for the CB to transitions from close to open
      failureRateThreshold: 50 #Failure rate when the Circuit Breaker transitions from closed to open
      waitDurationInOpenState: 30s #Time the CircuitBreaker should wait before transitioning back from open to half-open.
      minimumNumberOfCalls: 5 #The minimum number of calls which are required before the CircuitBreaker can calculate the error rate.
      permittedNumberOfCallsInHalfOpenState: 10 #Number of permitted calls when the CircuitBreaker is half open.

#logging
logging.level.root: "WARN"
logging.level.org.springframework: "INFO"

logging.level.org.goafabric: "INFO"
logging.level.org.flywaydb.core: "INFO"
logging.level.org.hibernate.SQL: "INFO"
logging.level.org.goafabric.personservice.persistence.audit: "INFO"