#application
server:
  port: 50800
  tomcat.threads.max: 20

#monitoring
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "health,prometheus,heapdump"

spring.cloud.consul.config.enabled: "false"

# openapi
springdoc.swagger-ui.path: /swagger-ui/index.html
springdoc.enable-native-support: "true"


#tracing
spring.application.name: person-service
management.tracing.sampling.probability: "1.0"
logging.level.io.opentelemetry.exporter: "OFF"
management.otlp.tracing.endpoint: "http://localhost:4318/v1/traces"

#security
security.authentication.enabled: true

spring.security.user.name: "admin"
spring.security.user.password: "admin"

#persistence
spring.datasource.url: jdbc:h2:mem:person;DATABASE_TO_UPPER=FALSE
#spring.datasource.url: jdbc:postgresql://localhost:5432/postgres
spring.datasource.username: postgres
spring.datasource.password: postgres

spring.jpa.hibernate.ddl-auto: "none"
spring.datasource.hikari.maximum-pool-size: "10"
spring.datasource.hikari.connection-timeout: "10000"

multi-tenancy.tenants: "0,5"
multi-tenancy.schema-prefix: "core_"
multi-tenancy.migration.enabled: "true"

database.provisioning.goals: "-import-demo-data"

#adapter
adapter:
  timeout: 10000
  calleeservice:
    url: http://localhost:50900
    user: YWRtaW4=
    password: YWRtaW4=

#resilience4j
resilience4j.circuitbreaker:
  configs:
    default:
      #see for more informations under: https://resilience4j.readme.io/docs/circuitbreaker
      registerHealthIndicator: true
      slowCallDurationThreshold: ${adapter.timeout} #Effectively the timeout
      slowCallRateThreshold: 100 #Percentage of calls that that need be registered a slow for the CB to transitions from close to open
      failureRateThreshold: 50 #Failure rate when the Circuit Breaker transitions from closed to open
      waitDurationInOpenState: 30s #Time the CircuitBreaker should wait before transitioning back from open to half-open.
      minimumNumberOfCalls: 5 #The minimum number of calls which are required before the CircuitBreaker can calculate the error rate.
      permittedNumberOfCallsInHalfOpenState: 10 #Number of permitted calls when the CircuitBreaker is half open.

#logging
logging.pattern.level: "%5p tenantId=%X{tenantId:-}" #"%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}] tenantId=%X{tenantId:-}"

logging.level.root: "WARN"
logging.level.org.springframework: "INFO"

logging.level.org.goafabric: "INFO"
logging.level.org.flywaydb.core: "INFO"
logging.level.org.hibernate.SQL: "INFO"
