#application
server:
  port: 50800
  tomcat.max-threads: 20

#monitoring
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "health,prometheus,heapdump"
  health:
    circuitbreakers:
      enabled: true

springdoc.swagger-ui.path: /swagger-ui/index.html

#jaeger / zipkin
spring.application.name: person-service
management.zipkin.tracing.endpoint: "http://localhost:9411/api/v2/spans"

#security
security.authentication.enabled: true

spring.security.user.name: "admin"
spring.security.user.password: "admin"

#persistence
spring.datasource.url: jdbc:h2:mem:persondb
#spring.datasource.url: jdbc:postgresql://localhost:5432/postgres
spring.datasource.username: postgres
spring.datasource.password: postgres

spring.datasource.hikari.maximum-pool-size: "10"
spring.datasource.hikari.connection-timeout: "10000"

spring.sql.init.mode: always
spring.sql.init.schema-locations: classpath*:db/migration/V1__init.sql
spring.jpa.hibernate.ddl-auto: none

database.provisioning.goals: -import-demo-data

#adapter
adapter:
  timeout: 10000
  calleeservice:
    url: http://localhost:50900
    user: YWRtaW4=
    password: YWRtaW4=

#spring.sleuth.baggage.remote-fields: X-TenantId, X-Auth-Request-Preferred-Username
#spring.sleuth.baggage.correlation-fields: X-TenantId, X-Auth-Request-Preferred-Username

#resilience4j
resilience4j.circuitbreaker:
  configs:
    default:
      #see for more informations under: https://resilience4j.readme.io/docs/circuitbreaker
      registerHealthIndicator: true
      slowCallDurationThreshold: ${adapter.timeout} #Effectively the timeout
      slowCallRateThreshold: 100 #Percentage of calls that that need be registered a slow for the CB to transitions from close to open
      failureRateThreshold: 50 #Failure rate when the Circuit Breaker transitions from closed to open
      waitDurationInOpenState: 30s #Time the CircuitBreaker should wait before transitioning back from open to half-open.
      minimumNumberOfCalls: 5 #The minimum number of calls which are required before the CircuitBreaker can calculate the error rate.
      permittedNumberOfCallsInHalfOpenState: 10 #Number of permitted calls when the CircuitBreaker is half open.

#logging
logging.level.root: "WARN"
logging.level.org.springframework: "INFO"

logging.level.org.goafabric: "INFO"
logging.level.org.flywaydb.core: "INFO"
logging.level.org.hibernate.SQL: "INFO"
logging.level.org.goafabric.personservice.persistence.audit: "INFO"

#logging.pattern.console: "%white(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable"
